@tailwind base;
@tailwind utilities;
@tailwind components;

*{
    font-family: "Poppins", sans-serif;
}
table,tr,td,th{
    border: 2px solid black;
    text-align: center;
    
}
td{
    padding: 5px;
    
}